/*@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
body {
  padding: 0;
  margin: 0;
  background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/

/*::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
}*/

.chat-thread {
  /*margin: 24px auto 0 auto;*/
  /*padding: 0 20px 0 0;*/
  margin: 0.1rem auto 0 auto;
  padding: 0 0.2rem 0 0;
  list-style: none;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
  height: auto;

  /*box-sizing: border-box;*/
}

.chat-thread li {
  position: relative;
  clear: both;
  display: inline-block;
  padding: 16px 40px 16px 20px;
  /*padding: 10px 20px 10px 20px;*/
  margin: 0 0 20px 0;
  /*font: 16px/20px 'Noto Sans', sans-serif;*/
  font-size: 0.20rem;
  border-radius: 10px;
  background-color: rgba(25, 147, 147, 0.2);
  line-height:0.30rem;
  letter-spacing: 0.08rem;

  /*box-sizing: border-box;*/
}

/* Chat - Avatar */
.chat-thread li:before {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  content: '';
  background-size: cover;
  border:solid 1px rgba(25, 147, 147, 0.2);
  opacity: 0.8;
  /*border-radius: 50%;*/
}

/* Chat - Speech Bubble Arrow */
.chat-thread li:after {
  position: absolute;
  top: 15px;
  content: '';
  width: 0;
  height: 0;
  border-top: 15px solid rgba(25, 147, 147, 0.2);
}

/*.chat-thread li:nth-child(odd) {*/
  .chat-thread li.right{
  animation: show-chat-odd 0.15s 1 ease-in;
  -moz-animation: show-chat-odd 0.15s 1 ease-in;
  -webkit-animation: show-chat-odd 0.15s 1 ease-in;
  float: right;
  margin-right: 80px;
  color: #0AD5C1;
}

/*.chat-thread li:nth-child(odd):before {*/
.chat-thread li.right:before{
  right: -80px;
  /*background-image: url("");*/
}

/*.chat-thread li:nth-child(odd):after {*/
.chat-thread li.right:after {
  border-right: 15px solid transparent;
  right: -15px;
}


/*.chat-thread li:nth-child(even) {*/
.chat-thread li.left {
  animation: show-chat-even 0.15s 1 ease-in;
  -moz-animation: show-chat-even 0.15s 1 ease-in;
  -webkit-animation: show-chat-even 0.15s 1 ease-in;
  float: left;
  margin-left: 80px;
  color: #0EC879;
}

/*.chat-thread li:nth-child(even):before {*/
.chat-thread li.left:before {
  left: -80px;
  /*background-image: url("");*/
}

/*.chat-thread li:nth-child(even):after {*/
.chat-thread li.left:after {
  border-left: 15px solid transparent;
  left: -15px;
}


.chat-thread li.luxun:before{
  background-image: url("../img/lx.jpg");
}
.chat-thread li.zgl:before{
  background-image: url("../img/zgl.jpg");
}
.chat-thread li.dumu:before{
  background-image: url("../img/dumu.jpg");
}

.chat-thread li.tong1:before {
  background-image: url("../img/1t.png");
}
.chat-thread li.tong2:before {
  background-image: url("../img/2t.png");
}
.chat-thread li.tong3:before {
  background-image: url("../img/3t.png");
}
.chat-thread li.tong4:before {
  background-image: url("../img/4t.png");
}
.chat-thread li.tong5:before {
  background-image: url("../img/5t.png");
}
.chat-thread li.tong6:before {
  background-image: url("../img/6t.png");
}
.chat-thread li.tong7:before {
  background-image: url("../img/7t.png");
}
.chat-thread li.tong8:before {
  background-image: url("../img/8t.png");
}


.chat-window {
  position: fixed;
  bottom: 18px;
}

.chat-window-message {
  width: 100%;
  height: 48px;
  /*font: 32px/48px 'Noto Sans', sans-serif;*/
  font-size: 0.2rem;
  background: none;
  color: #0AD5C1;
  border: 0;
  border-bottom: 1px solid rgba(25, 147, 147, 0.2);
  outline: none;
}

/* Small screens */
@media all and (max-width: 767px) {
  .chat-thread {
    width: 100%;
    /*height: 260px;*/
    height: auto;
  }

  .chat-window {
    left: 5%;
    width: 90%;
  }
}
/* Medium and large screens */
@media all and (min-width: 768px) {
  .chat-thread {
    /*width: 50%;*/
    width: 90%;
    /*height: 320px;*/
    height: auto;
  }

  .chat-window {
    left: 25%;
    width: 50%;
  }
}
@keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-moz-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@-webkit-keyframes show-chat-even {
  0% {
    margin-left: -480px;
  }

  100% {
    margin-left: 0;
  }
}
@keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-moz-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
@-webkit-keyframes show-chat-odd {
  0% {
    margin-right: -480px;
  }

  100% {
    margin-right: 0;
  }
}
