
#div-intro-anim {


  text-align: center;
  width: 80%;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}

.quote {
  
	font-size: 0.24rem;
	line-height:0.4rem;
	/*width: 600px;*/
	height: auto;
	margin: 0 auto;
	color: #ddd;
  opacity: .8;

}

.author {
  /*text-align: right;*/
	font-size: 0.16rem;
  font-style: italic;
  color: var(--color-text2);
}



#div-20191201-anim {
  text-align: center;
  width: 40%;
  height: 3rem;

  left: 50%;
  transform: translateX(-50%);


}
#jonsnow-box p{
  font-size: 0.16rem;
  font-style: italic;
  color: var(--color-text2);
}

.img-jon {
	width: 1.50rem;
	height: 1.93rem;
}





#div-20191219-anim {
  text-align: center;
  
  left: 3.5rem;
  /*top: 50%;*/
  transform: translateY(-50%);

  /*top:49rem;*/

}

/*.img-20191219 {
  background:url('../img/20191219.png') no-repeat top center;
  background-size: contain;
  width: 3rem;
  height: 5rem;
}*/


/*#div-20191230-anim1 {
  text-align: center;
  
  left: 3.5rem;
  transform: translateY(-50%);

}*/

/*.img-20191230-1 {
  background:url('../img/assets/20191230_1.png') no-repeat top center;
  background-size: contain;
  width: 3rem;
  height: 6rem;
}
*/


#div-20191231-anim {
  text-align: center;
  
  left: 3.5rem;
  /*top: 50%;*/
  transform: translateY(-50%);

  /*top:114.7rem;*/

}

.img-20191231 {
  /*background:url('../img/dalian1.jpg') no-repeat top center;*/
  background:url('https://s1.ax1x.com/2020/03/17/8USmiF.jpg') no-repeat top center;
  
  background-size: contain;
  width: 2.5rem;
  height: 2.2rem;
}







/*//////////////////////////////////////////////////////////////*/
/*============20200101===========*/
/*#day_20200101 .offset {top:122rem;}*/

#div_whistle {
  /*opacity:0;*/
  /*left:50%;
  margin-left:-488px;
  width:976px;*/
  left: 3.5rem;
  /*top: 50%;
  transform: translateY(-50%);*/
  /*top:126rem;*/
}

.whistle{
  width: 40%;
  fill: #f95959;
  margin: auto 30%;
  /*margin: 1rem 2rem;*/
  text-align: left;
  transform: translate(-50%, -50%);
  transform: rotate(0);
  transform-origin: 80% 30%;
  
}

.whistleActive{
  animation: wiggle .2s infinite;
}

@keyframes wiggle {
  0%{
    transform: rotate(3deg);
  }
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(3deg);
  }
}



#div-20200103-anim {
  text-align: center;
  
  left: 3.5rem;

  transform: translateY(-50%);

}

.img-20200103 {
  /*background:url('../img/dalian2.jpg') no-repeat top center;*/
  background:url('https://s1.ax1x.com/2020/03/17/8USQMR.jpg') no-repeat top center;
  
  background-size: contain;
  width: 2.5rem;
  height: 2.2rem;
}


#div-20200105-anim {
  text-align: center;
  
  left: 3.5rem;
  transform: translateY(-50%);
}

.img-20200105 {
  /*background:url('../img/dalian3.jpg') no-repeat top center;*/
  background:url('https://s1.ax1x.com/2020/03/17/8USGdK.jpg') no-repeat top center;
  
  background-size: contain;
  width: 2.5rem;
  height: 2.2rem;
}



#div-20200111-anim {
  text-align: center;
  
  left: 3.5rem;
  transform: translateY(-50%);

}

.img-20200111 {
  /*background:url('../img/dalian4.jpg') no-repeat top center;*/
  background:url('https://s1.ax1x.com/2020/03/17/8USJIO.jpg') no-repeat top center;
  background-size: contain;
  width: 2.5rem;
  height: 1.87rem;
}


#red-cross-anim {
  text-align: center;
  width: 100%;
  height: 100vh;
}

#red-cross-box{
  width: 100%;
  height: 100%;
  display: flex;
}

.stripe {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.stripe_inner {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  text-align: center;

  color: rgba(255, 255, 255, 0);
  background: repeating-linear-gradient(45deg, var(--color1) 25%, var(--color1) 50%, var(--color-dark) 50%, var(--color-dark) 75%);
  background-size: var(--stripe-size) var(--stripe-size);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-animation: stripeBackgroundPosition var(--duration) linear infinite;
          animation: stripeBackgroundPosition var(--duration) linear infinite;
}
.stripe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--stripe-size));
  height: 100%;
  background: repeating-linear-gradient(45deg, var(--color-dark) 25%, var(--color-dark) 50%, var(--color1) 50%, var(--color1) 75%);
  background-size: var(--stripe-size) var(--stripe-size);
  -webkit-animation: stripeTransform var(--duration) linear infinite;
          animation: stripeTransform var(--duration) linear infinite;
}
.stripe::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /*background: radial-gradient(ellipse at center, rgba(27, 39, 53, 0) 0%, #090a0f 100%);*/
  background: radial-gradient(ellipse at center, rgba(37, 44, 50, 0) 0%, var(--color-dark) 100%);
}

@-webkit-keyframes stripeTransform {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(var(--stripe-size) * -1));
            transform: translateX(calc(var(--stripe-size) * -1));
  }
}

@keyframes stripeTransform {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(var(--stripe-size) * -1));
            transform: translateX(calc(var(--stripe-size) * -1));
  }
}
@-webkit-keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}
@keyframes stripeBackgroundPosition {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(var(--stripe-size) * -1) 0;
  }
}






#car_a0260w {
  /*position: relative;*/
}

#div-car-a0260w-anim{
  width: 100%;
  height: auto;

  left: 50%;
  transform: translateX(-50%);
}

#box-car-a0260w{
  position: relative;
  width: 100%;
  height: 6rem;
  /*overflow: hidden;*/
}

.car-plate{
  width: 4rem;
  height: 1.4rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*background-image:url('../img/chepai.png');*/
  /*background-image:url('https://s1.ax1x.com/2020/03/17/8USVaT.png');
  
  background-repeat:no-repeat;*/
  /*background-attachment:fixed;*/
  background-position:center;
  background-size: contain;
  z-index: 999991;
}

/*帽子*/
.hat {

  width: 3rem;
  height: 3rem;

  top: 5%;
  /*transform: translateY(-60%);*/

  left: 50%;
  transform: translateX(-50%);
  z-index: 999995;
}


/*眼镜*/
.glass {

  width: 3rem;
  height: 3rem;

  top: 25%;
  /*transform: translateY(-30%);*/

  left: 50%;
  transform: translateX(-50%);

  z-index: 999996;
}

/*烟*/
.cigaratte{

  width: 2rem;
  height: 2rem;

  top: 55%;
  transform: translateY(-55%);

  left: 60%;
  transform: translateX(-60%);
  z-index: 999997;
}

/*链子*/
.necklace{

  width: 3rem;
  height: 3rem;

  top: 50%;
  transform: translateY(-50%);

  left: 50%;
  transform: translateX(-50%);
  z-index: 999992;
}



#div-lie-words-anim {

  text-align: center;

  width: 80%;

  height: auto;

  left: 50%;
  transform: translateX(-50%);

  /*box-sizing: border-box; */

  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: none;

  -webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;

}


/*#day_20200203 .offset {top:670rem;}*/

#div-20200203-anim {

  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

#div-square-cabin-anim{
  width: 100%;
  text-align: center;
}

.box-square-cabin-anim{
  position: relative;
}

.cnc {
  margin: auto;
  width: 2.88rem;
  height: 2.88rem;
  /*background:  url('../img/cnc-sprite.png') no-repeat 0 0%;*/
  background:  url('https://s1.ax1x.com/2020/03/17/8USnG4.png') no-repeat 0 0%;
  
  background-size: 100%;
}


#div-motion-words-anim {

  text-align: center;

  width: 80%;

  height: auto;

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);


  cursor: none;

  padding-top: 1rem;
  padding-bottom: 1rem;

  /*-webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;*/

}



#div-hero-liwenliang-anim{
  width: 100%;
  height: 3rem;
  text-align: center;
  /*transform: translateY(50%);*/
}



#div-20200213-anim {
  text-align: center;
  
  left: 3.5rem;
  /*top: 50%;*/
  transform: translateY(-50%);

  /*top:102rem;*/

}

.img-20200213 {
  /*background:url('../img/depose.jpg') no-repeat top center;*/
  background:url('https://s1.ax1x.com/2020/03/17/8USNJe.jpg') no-repeat top center;
  
  background-size: contain;
  width: 3rem;
  height: 2rem;
}


#div-to-be-continued-anim {

  text-align: center;
  width: 80%;

  height: auto;

  left: 50%;

  transform: translateX(-50%);

  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: none;
}


#div-end-words-anim {


  text-align: center;

  width: 80%;
  height: auto;

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: none;

  /*-webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;*/

}


#div-end-question-anim {
  width: 100%;
  /*min-height: 100vh;*/
  overflow: hidden;
}




#div-but-words-anim  {

  text-align: center;

  
  width: 100%;
  /*height: 350px;*/

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  /*top:13rem;*/
  cursor: none;
  
}

#div-but-words-anim h1{
  font-size:0.6rem;
  margin: 3rem auto;
  font-weight: 900;
  color:#fff;
  opacity: 0.8;

  display: inline-block;
  padding-bottom: 5px;
  /*color: white;*/

  /*text-shadow: 4px 4px 0 rgba(255,255,255,.6);*/
  text-shadow: 4px 4px 0 #393733;
  /*text-shadow: 0 0 5px #2b002b, 0 0 20px #c0c, 0 0 10px #f0f;*/
  transform: skewY(-10deg);
  border-bottom: 3px solid #f00;
}


#div-zhihu-words-anim {

  text-align: center;
  width: 80%;
  /*height: 350px;*/
  height: auto;

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);
  padding-top: 1rem;
  padding-bottom: 1rem;

  /*top:13rem;*/
  cursor: none;

  /*-webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;*/

}


#div-thinking-words-anim {

  text-align: center;
  width: 100%;
  /*height: 350px;*/
  height: auto;

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  /*top:13rem;*/
  cursor: none;

  /*-webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;*/

}

#div-thinking-words-anim h1{
  font-size:0.6rem;
  margin: 3rem auto;
  font-weight: 900;
  color:#fff;
  opacity: 0.8;

}


.mohuan{
    animation: uk-text-shadow-glitch .65s cubic-bezier(1,-1.91,0,2.79) 0s infinite normal both running;
}

@keyframes uk-text-shadow-glitch {
    0% {
        text-shadow: none
    }
    25% {
        text-shadow: -2px -2px 0 #ff0048,2px 2px 0 #3234ff
    }
    50% {
        text-shadow: 2px -2px 0 #ff0048,-2px 2px 0 #3234ff
    }
    75% {
        text-shadow: -2px 2px 0 #ff0048,2px -2px 0 #3234ff
    }
    100% {
        text-shadow: 2px 2px 0 #ff0048,-2px -2px 0 #3234ff
    }
}
@keyframes uk-flicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: .6;
        transform: scale(.8)
    }
    20% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    50% {
        opacity: .2;
        transform: scale(1.1)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}


#div-talking-words-anim {

  text-align: center;
  width: 100%;
  /*height: 350px;*/
  height: auto;

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  /*top:13rem;*/
  cursor: none;

  /*-webkit-transition: opacity 1s 2s;
  transition: opacity 1s 2s;*/

}

#div-talking-words-anim h1{
  font-size:0.6rem;
  margin: 3rem auto;
  font-weight: 900;
  color:#fff;
  /*opacity: 0.8;*/

  /*padding: 0.8rem 0.5rem;*/

  /*color: #ee4c4c;
  text-shadow: 2px 2px 0 #f5f5f5, 4px 4px 0 #ccc;*/

  text-shadow: 4px 4px 0 #393733;
  /*text-shadow: 0 0 5px #2b002b, 0 0 20px #c0c, 0 0 10px #f0f;*/
  transform: skewY(-10deg);
  border-bottom: 3px solid #f00;

}

/*#div-talking-words-anim h1.elegantshadow {
    color: #2c2c2c;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}*/

#div-talking-words-anim h1.elegantshadow {
  text-decoration: none;
  -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -ms-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  -o-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
  /*-webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;*/
  /*display: inline-block;
  text-align: center;
  text-transform: uppercase;*/
 /* font-size: 75px;
  font-weight: 700;
  font-family: 'Exo 2';
  line-height: 0.8;*/
  color: #fbd62a;
  text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03, 0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
}



#div-talking-words-anim h1 span {
  letter-spacing: 0.04rem;
  color: #000;
  -webkit-animation: 2s glow infinite linear alternate;
          animation: 2s glow infinite linear alternate;
}

#box-talking-words-anim h1 span:nth-child(1) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
#box-talking-words-anim h1 span:nth-child(2) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
#box-talking-words-anim h1 span:nth-child(3) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
#box-talking-words-anim h1 span:nth-child(4) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
#box-talking-words-anim h1 span:nth-child(5) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
#box-talking-words-anim h1 span:nth-child(6) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
#box-talking-words-anim h1 span:nth-child(7) {
  -webkit-animation-delay: 2800ms;
          animation-delay: 2800ms;
}

@-webkit-keyframes glow {
  0% {
    color: #000;
  }
  100% {
    color: #888;
  }
}

@keyframes glow {
  0% {
    color: #000;
  }
  100% {
    color: #888;
  }
}



#div-wechat-anim {
  

  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  width: 90%;
  height: auto;
  /*height: 100%;*/

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}



#div-got-light-anim{
  
  text-align: center;
  left: 50%;
  /*top: 50%;*/
  /*transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  /*width: 100%;*/

}




#div-friend-words-anim  {

  text-align: center;

  
  width: 100%;
  /*height: 350px;*/
  height: 100vh;

  left: 50%;
  /*top: 50%;
  transform: translate(-50%,-50%);*/
  transform: translateX(-50%);

  background-image:url('../img/orion_1998.gif');
  background-position: 0 0;
  background-repeat: repeat; 
  animation: glaxyMove 60s infinite linear;

  
}

@keyframes glaxyMove{
  from {background-position: 250% -180%, 150% 50px, 0 0;}
  /*to {background-position: -1050% -180%, -50% 50px, -512px 0;}*/
  to {background-position: 250% -1050%, 150% -150px, 0 -512px;}
} 


#div-friend-words-anim h1{
  position: absolute;
  font-size:0.6rem;
  /*margin: 3rem auto;*/
  font-weight: 200;
  color:#888;
  opacity: 1;
  /*width: 100*/
  top: 50%;
  left: 50%;
  /*transform: translateY(-50%);*/
  transform: translate(-50%,-50%);
}

#div-friend-words-anim h1 span{
  font-size:0.3rem;
}

#div-firefly{
  position: relative;
  width: 100%;
  height: 100%;
}

#div-friend-words-anim h1 label{
  display:inline-block;
  opacity: 1;
  transition: all 1.5s ease-in-out;
}

/*.fly-text label.hidden{*/
/*.fly-text-hidden{*/
#div-friend-words-anim h1.fly-text-hidden label{
  opacity: 0;
  transform: translate(300px, 200px);
  color: whitesmoke;
  /*font-size: 3em;*/
 }

#div-friend-words-anim h1 label:nth-child(1){transition-delay: 0ms;}
#div-friend-words-anim h1 label:nth-child(2){transition-delay: 200ms;}
#div-friend-words-anim h1 label:nth-child(3){transition-delay: 400ms;}
#div-friend-words-anim h1 label:nth-child(4){transition-delay: 600ms;}
#div-friend-words-anim h1 label:nth-child(5){transition-delay: 800ms;}
#div-friend-words-anim h1 label:nth-child(6){transition-delay: 1000ms;}
#div-friend-words-anim h1 label:nth-child(7){transition-delay: 1200ms;}
#div-friend-words-anim h1 label:nth-child(8){transition-delay: 1400ms;}
#div-friend-words-anim h1 label:nth-child(9){transition-delay: 1600ms;}


#div-friend-words-anim h1.fly-text-hidden label:nth-child(1){
  transform: translate(-160px, -120px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(2){
  transform: translate(-30px, 210px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(3){
  transform: translate(-133px, -194px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(4){
  transform: translate(50px, -243px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(5){
  transform: translate(-65px, 189px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(6){
  transform: translate(177px, -155px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(7){
  transform: translate(122px, 198px);

}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(8){
  transform: translate(12px, 15px);
  opacity: 0;
}
#div-friend-words-anim h1.fly-text-hidden label:nth-child(9){
  transform: translate(300px, 215px);

}