/*@import url(https://fonts.googleapis.com/css?family=VT323);*/
/*html {
  background-color: #0c0a0e;
  font-family: "M+ 1mn", "VT323", monospace;
  font-size: 2.2vmax;
  line-height: 1.75em;
  overflow: hidden;
}*/

.question {
  /*background-color: #0c0a0e;*/
  background-color: #000;
  /*font-family: "M+ 1mn", "VT323", monospace;*/
  /*font-size: 2.2vmax;
  line-height: 1.75em;*/
  overflow: hidden;

  font-size: 0.3rem;
  line-height: 0.5rem;
  letter-spacing: 0.03rem;
  cursor: default;
  color: #00331a;
  margin: 0 auto 0;
  /*max-width: 82vw;*/
  -webkit-perspective: 1000vmin;
          perspective: 1000vmin;
  /*width: 33rem;*/
  width: 100%;
  /*background: #fff;*/
}

.question span {
  border-radius: 0.3em;
  display: inline-block;
  padding: 0 0.25em;
  margin: 0.1em 0.1em;
  -webkit-transform: translateZ(-500vmin) rotateX(90deg);
          transform: translateZ(-500vmin) rotateX(90deg);
  -webkit-transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, -webkit-transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in;
  transition: background 2s ease-in, color 5s ease-out, text-shadow 0.5s ease-out, transform 15s ease-in, -webkit-transform 15s ease-in;
}

.question .qhighlight, .question span:hover {
  background: rgba(0, 255, 128, 0.1);
  color: #80ffc0;
  text-shadow: 0 0 0.6em #00ff80;
  -webkit-transform: translateZ(0) rotateX(0deg);
          transform: translateZ(0) rotateX(0deg);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 9001;
}