* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	font-size: 10px;
	background-color: rgb(247, 247, 247);
	font-family: kaiti;
}

header {
	width: 100%;
	height: 5rem;
	background-color: rgb(237, 237, 237);
	border-bottom: 1px solid rgb(233, 233, 233);
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-a {
	display: flex;
	align-items: center;
}

.header-a img {
	height: 2rem;
	padding-left: 1.5rem;
}

header a {
	font-size: 2rem;
}

.header-b img {
	height: 3rem;
	padding-right: 1.5rem;
}

header ul {
	position: fixed;
	right: -30rem;
	top: 0rem;
	background-color: #f7f7f7;
	font-size: 1.5rem;
	padding: 1.5rem;
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
	width: 50%;
	height: 100%;
	z-index: 10;
}

header ul li {
	border: 1px solid;
	border-radius: 10rem;
	padding: 1rem;
	text-align: center;
}

header ul li:not(:first-child) {
	margin-top: 2rem;
}

.masks {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: 0.5;
	background-color: black;
	display: none;
	z-index: 5;
}

.tab {
	font-size: 1.5rem;
	width: 4rem;
	height: 4rem;
	text-align: center;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.box,
.box1 {
	margin: 0rem 1rem;
	overflow-y: auto;
}

.box1 {
	overflow-x: hidden;
}

.inputArea {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 6.5rem;
	margin: auto;
	background-color: rgb(247, 247, 247);
	border-top: 1px solid rgb(219, 219, 219);
}

.inputArea input {
	width: 24rem;
	height: 4rem;
	border-radius: 5px;
	border: 0px white;
	outline: none;
	font-size: 2rem;
}

.inputArea button {
	width: 5rem;
	height: 3rem;
	border: 0px;
	border-radius: 5px;
	background-color: rgb(7, 193, 96);
	color: white;
	font-size: 1.5rem;
}

.btn {
	font-size: 1.5rem;
}

.li1 {
	width: 60%;
	text-align: end;
	margin-left: auto;
	font-size: 1.5rem;
	word-break: break-all;
	word-wrap: break-word;
	display: flex;
	justify-content: flex-end;
}

.li1 a {
	background-color: rgb(149, 236, 105);
	padding: 1rem;
	border-radius: 1rem;
	text-align: initial;
}

.li2 {
	width: 60%;
	margin: 1.5rem 0;
	font-size: 1.5rem;
	word-break: break-all;
	word-wrap: break-word;
	display: flex;
}

.li2 a {
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}
