html {
	-webkit-text-size-adjust: none;
	text-align: center;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale
}

html,body {
	height: 100%
}

body {
	line-height: 1.4;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0.10em;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #0d0d0d;
	color: #fff;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column
}

@media (min-width: 768px) {
	body {
		letter-spacing: 0.25em
	}

	body#hp header {
		width: calc(100% + 15px)
	}
}

body#hp {
	overflow: hidden
}

* {
	padding: 0;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

a {
	text-decoration: none;
	color: inherit;
	outline: none
}

button:focus {
	outline: 0
}

img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline: 0
}

ul,ol {
	list-style-type: none
}

p {
	margin-bottom: 10px
}

.posRel {
	position: relative
}

.skrit {
	display: none
}

@media (max-width: 767px) {
	.mobilSkrit {
		display: none !important
	}
}

@media (min-width: 768px) {
	.desktopSkrit {
		display: none !important
	}
}

@media (min-width: 992px) {
	.desktopSkrit2 {
		display: none !important
	}
}

@media (max-width: 991px) {
	.mobilTabletSkrit {
		display: none !important
	}
}

.flLeft {
	float: left !important
}

.flRight {
	float: right !important
}

.center {
	margin: 0 auto !important
}

.textLevo {
	text-align: left
}

.textDesno {
	text-align: right
}

.textCenter {
	text-align: center
}

.imgResponsive {
	max-width: 100%;
	height: auto;
	display: block
}

.overflow {
	overflow: hidden
}

.coverBack {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.content {
	margin: 0 auto
}

@media (min-width: 768px) {
	.content {
		width: 700px
	}
}

@media (min-width: 992px) {
	.content {
		width: 920px
	}
}

@media (min-width: 1224px) {
	footer .content {
		width: 1180px
	}
}

.row {
	margin-left: -10px;
	margin-right: -10px
}

.row:before,.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.v1,.v2,.v3,.v4,.v5,.v6,.v7,.v8,.v9,.v10,.v11,.v12,.v23 {
	position: relative;
	min-height: 1px;
	width: 100%;
	float: left;
	padding-left: 10px;
	padding-right: 10px
}

@media (min-width: 768px) {
	.v2 {
		width: calc(100% / 2)
	}

	.v3 {
		width: calc(100% / 3)
	}

	.v4 {
		width: calc(100% / 4)
	}

	.v5 {
		width: calc(100% / 5)
	}

	.v6 {
		width: calc(100% / 6)
	}

	.v7 {
		width: calc(100% / 7)
	}

	.v8 {
		width: calc(100% / 8)
	}

	.v9 {
		width: calc(100% / 9)
	}

	.v10 {
		width: calc(100% / 10)
	}

	.v11 {
		width: calc(100% / 11)
	}

	.v12 {
		width: calc(100% / 12)
	}

	.v23 {
		width: calc(100% / 3 * 2)
	}
}

.tabela {
	display: block;
	font: 0px/0 a;
	position: relative;
	text-align: center;
	height: 100%
}

.tabela::before {
	content: " ";
	display: inline-block;
	height: 100%;
	vertical-align: middle
}

.celica {
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	vertical-align: middle;
	float: none
}

.centerCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.vertCenter {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

.lightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -200px;
	box-shadow: 0 0 0 50vmax rgba(0,0,0,0.8)
}

@media (min-width: 768px) {
	.flex {
		display: flex
	}

	.flexReverse {
		flex-direction: row-reverse
	}
}

.formEleWrapp {
	margin: 30px 0
}

button,input,textarea {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	line-height: normal;
	background-color: #f7f7f7
}

textarea:focus,input:focus {
	outline: 0
}

input[type="text"],input[type="email"],input[type="password"],textarea {
	padding: 10px;
	width: 100%
}

.gumbiWrapp {
	text-align: right
}

.gumbiWrapp button,.gumbiWrapp a {
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 18px;
	margin: 0;
	outline: medium none;
	white-space: nowrap
}

.maxW370 {
	max-width: 370px
}

.maxW570 {
	max-width: 570px;
	margin: 0 auto
}

.maxW576 {
	max-width: 576px;
	margin: 0 auto
}

.maxW668 {
	max-width: 668px;
	margin: 0 auto
}

.maxW880 {
	max-width: 700px;
	margin: 0 auto
}

@media (min-width: 768px) and (max-width: 991px) {
	.tabMaxW535 {
		max-width: 535px;
		margin: 0 auto
	}
}

section {
	padding: 0 26px
}

section:after {
	content: "";
	display: block;
	height: 14vw
}

@media (min-width: 768px) {
	section:after {
		height: 9vw;
		min-height: 110px;
		max-height: 144px
	}
}

.fSize14 {
	font-size: 14px
}

.fSize16 {
	font-size: 16px
}

.fSize18 {
	font-size: 18px
}

.fSize20 {
	font-size: 20px
}

@media (min-width: 576px) {
	.fSize20 {
		font-size: calc(1.0416666667vw + 10px)
	}
}

@media (min-width: 768px) {
	.fSize20 {
		font-size: calc(.8928571429vw + 11.1428571429px)
	}
}

@media (min-width: 992px) {
	.fSize20 {
		font-size: 20px
	}
}

.fSize24 {
	font-size: 18px
}

@media (min-width: 576px) {
	.fSize24 {
		font-size: calc(1.0416666667vw + 12px)
	}
}

@media (min-width: 768px) {
	.fSize24 {
		font-size: calc(1.7857142857vw + 6.2857142857px)
	}
}

@media (min-width: 992px) {
	.fSize24 {
		font-size: 24px
	}
}

.fSize36 {
	font-size: 24px
}

@media (min-width: 576px) {
	.fSize36 {
		font-size: calc(4.1666666667vw + 0px)
	}
}

@media (min-width: 768px) {
	.fSize36 {
		font-size: calc(1.7857142857vw + 18.2857142857px)
	}
}

@media (min-width: 992px) {
	.fSize36 {
		font-size: 36px
	}
}

.top8vh.fSize36 {
	font-size: 32px
}

@media (min-width: 576px) {
	.top8vh.fSize36 {
		font-size: calc(0vw + 32px)
	}
}

@media (min-width: 767px) {
	.top8vh.fSize36 {
		font-size: calc(-600vw + 4634px)
	}
}

@media (min-width: 768px) {
	.top8vh.fSize36 {
		font-size: calc(4.4642857143vw - 8.2857142857px)
	}
}

@media (min-width: 992px) {
	.top8vh.fSize36 {
		font-size: 36px
	}
}

.fSize48 {
	font-size: 48px;
	font-size: 32px
}

@media (min-width: 576px) {
	.fSize48 {
		font-size: calc(0vw + 32px)
	}
}

@media (min-width: 768px) {
	.fSize48 {
		font-size: calc(7.1428571429vw - 22.8571428571px)
	}
}

@media (min-width: 992px) {
	.fSize48 {
		font-size: 48px
	}
}

@media (max-width: 767px) {
	.fSize18 {
		font-size: 16px
	}

	.top8vh.fSize36 {
		letter-spacing: 8px;
		line-height: 48px
	}
}

.fWeight600 {
	font-weight: 600
}

.upper {
	text-transform: uppercase
}

.lSpacing1 {
	letter-spacing: 1em
}

.lSpacing02 {
	letter-spacing: 0.22em
}

.lSpacing01 {
	letter-spacing: 0.1em
}

.lSpacing06 {
	letter-spacing: 0.6em
}

.lHeight175 {
	line-height: 1.5em
}

.lSpacing039 {
	letter-spacing: 0.39em
}

@media (min-width: 768px) {
	.lHeight175 {
		line-height: 1.75em
	}
}

.zelena {
	color: #00A181
}

h1 {
	font-weight: normal
}

@media (max-width: 767px) {
	.mobilNoSpacing {
		letter-spacing: normal
	}
}

.v2Grid {
	display: grid;
	grid-template-columns: 1fr
}

@media (min-width: 768px) {
	.top8vh {
		margin-top: calc(8vh)
	}
}

@media (min-width: 992px) {
	.v2Grid {
		grid-template-columns: repeat(2, 1fr)
	}

	.top8vh {
		margin-top: calc(8vh + 132px)
	}
}

.loader {
	position: absolute;
	display: none
}

@media (hover: hover) and (pointer: fine) {
	.cursor {
		position: fixed;
		height: 15px;
		width: 15px;
		border-radius: 50%;
		background-color: #00A181;
		box-shadow: 0 0 40px 8px #00A181;
		transform: translateX(-50%) translateY(-50%);
		z-index: 99999999;
		pointer-events: none;
		mix-blend-mode: normal
	}

	* {
		cursor: none !important
	}
}

.on header {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100
}

#grainHeader::before,#grainFooter::before {
	z-index: -1
}

header {
	display: flex;
	justify-content: space-between;
	padding: 18px;
	position: relative;
	z-index: 2;
	background: linear-gradient(0deg, rgba(13,13,13,0) 0%, rgba(13,13,13,0.5) 38%, #0D0D0D 100%)
}

header .logoWrapp a svg {
	max-width: 79px;
	display: inline-block
}

header a {
	white-space: nowrap
}

header .logoText {
	font-size: 13px;
	display: inline-block;
	text-align: left;
	position: relative;
	padding-left: 15px;
	margin-left: 7px;
	letter-spacing: 0.4em;
	line-height: 1.2em
}

header .logoText:before {
	content: "";
	position: absolute;
	left: 0;
	top: 15%;
	height: 73%;
	width: 1px;
	background: #46494A
}

header .linkiWrapp a {
	position: relative;
	padding: 0 25px
}

header .linkiWrapp a:first-child:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #46494A
}

header .logoWrapp a {
	display: flex;
	align-items: center
}

@media (min-width: 768px) {
	header .logoWrapp a svg {
		max-width: 103px
	}

	header .logoText {
		font-size: 17px;
		padding-left: 14px;
		margin-left: 7px
	}
}

@media (min-width: 992px) {
	header {
		padding: 30px 30px 60px
	}

	header .logoWrapp a svg {
		max-width: none
	}
}

@media (min-width: 1224px) {
	header .logoWrapp a svg {
		max-width: none
	}

	header .logoText {
		font-size: 20px;
		padding-left: 25px;
		margin-left: 18px
	}
}

footer {
	padding: 14px;
	text-align: right;
	position: relative;
	z-index: 1
}

footer .jezikiWrapp a,footer .linkiWrapp a {
	position: relative;
	padding: 0 14px
}

footer .linkiWrapp a:first-child:before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 1px;
	background: #46494A
}

.odstevalnikWrapp {
	opacity: 0;
	transition: all 350ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	position: absolute;
	bottom: 8px;
	left: 0;
	width: 100%
}

.odstevalnikWrapp.aktiven {
	opacity: 1
}

.odstevalnikWrapp span {
	width: 2em;
	display: inline-block
}

.odstevTimWrapp.desktopSkrit2 {
	position: fixed;
	left: 0;
	top: 50%;
	z-index: 100;
	width: 100%;
	height: 28px;
	pointer-events: none
}

.odstevTimWrapp.desktopSkrit2.aktiven {
	pointer-events: auto
}

@media (min-width: 768px) {
	.odstevTimWrapp.desktopSkrit2 {
		top: 68%
	}
}

@media (max-width: 767px) {
	footer {
		font-size: 11px
	}

	footer .jezikiWrapp a,footer .linkiWrapp a {
		padding: 0 8px
	}
}

body.on footer .content.border {
	border-top: 1px solid RGBA(134, 147, 158, 0.2);
	position: relative;
	top: -14px
}

body.on footer .smPr {
	text-align: center
}

body.on footer .smWrapp {
	margin-bottom: 16px
}

body.on footer .smWrapp a {
	display: inline-block;
	padding: 6px 6px 0px
}

.footerLinki {
	margin-top: 30px
}

@media (min-width: 768px) {
	footer {
		padding: 30px 0 26px 10px
	}

	footer .linkiWrapp a,footer .linkiWrapp a {
		padding: 0 17px
	}

	.odstevalnikWrapp {
		bottom: 15px
	}
}

@media (min-width: 992px) {
	footer {
		padding: 30px
	}

	footer .content.border {
		top: -30px !important
	}

	footer .odstevalnikWrapp {
		bottom: 20px
	}

	footer .linkiWrapp a,footer .linkiWrapp a {
		padding: 0 25px
	}

	footer .smPr {
		display: flex;
		justify-content: space-between;
		align-items: center
	}

	footer .smPr div:first-child {
		order: 2
	}

	footer .smWrapp {
		margin-bottom: 0 !important
	}
}

@media (max-width: 991px) {
	#hp footer {
		display: flex;
		justify-content: space-between
	}
}

@keyframes textFade {
	0% {
		color: rgba(0,161,129,0.5)
	}

	50% {
		color: #00a181
	}

	100% {
		color: rgba(0,161,129,0.5)
	}
}

@keyframes backRing {
	0% {
		transform: scale(0.5);
		opacity: .3
	}

	100% {
		transform: scale(3);
		opacity: 0
	}
}

@keyframes slusalka {
	0% {
		transform: scale(1);
		opacity: .8
	}

	50% {
		transform: scale(1.25);
		opacity: 1
	}

	100% {
		transform: scale(1);
		opacity: .8
	}
}

@keyframes rob {
	0% {
		width: 123px;
		height: 123px
	}

	5% {
		width: 120px;
		height: 120px
	}

	10% {
		width: 123px;
		height: 123px
	}

	15% {
		width: 120px;
		height: 120px
	}

	20% {
		width: 123px;
		height: 123px
	}

	25% {
		width: 121px;
		height: 121px
	}

	30% {
		width: 123px;
		height: 123px
	}

	35% {
		width: 122px;
		height: 122px
	}

	40% {
		width: 123px;
		height: 123px
	}

	100% {
		width: 123px;
		height: 123px
	}
}

.anim {
	opacity: 0;
	transform: translateY(80px);
	transition: opacity 1100ms cubic-bezier(0.455, 0.03, 0.515, 0.955),transform 1100ms cubic-bezier(0.455, 0.03, 0.515, 0.955) !important
}

.anim.active {
	opacity: 1;
	transform: translateY(0)
}

main {
	position: relative;
	z-index: 1
}

#grainMain {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

main.pro {
	margin-top: 100px
}

@media (min-width: 768px) {
	main.pro {
		margin-top: 110px
	}
}

@media (min-width: 992px) {
	main.pro {
		margin-top: 132px
	}
}

#grain {
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

main.hp {
	flex: 1 0 auto;
	padding: 0 30px;
	position: relative;
	display: flex;
	flex-direction: column
}

main.hp section,main.hp .ringWrapp {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1
}

main.hp .ringWrapp .oglasiteSe {
	position: absolute;
	transform: translateY(100px);
	font-weight: 600;
	opacity: 0;
	transition: opacity 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

main.hp .ringWrapp .oglasiteSe.aktiven {
	opacity: 1
}

main.hp .ringWrapp .ring {
	background: #00A181;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	cursor: pointer;
	transition: opacity 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
	animation: rob 1s 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
	transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

main.hp .ringWrapp .ring:hover {
	transform: scale(1.175)
}

main.hp .ringWrapp .ring.aktiven {
	opacity: 1
}

main.hp .ringWrapp .ring.aktiven svg {
	opacity: .8;
	animation: slusalka 1s 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

main.hp .ringWrapp .val {
	width: 240px;
	height: 240px;
	position: absolute;
	z-index: -1;
	opacity: 0;
	border-radius: 50%;
	background: #00a181;
	background: radial-gradient(circle, rgba(0,161,129,0) 0%, rgba(0,150,121,0) 50%, #009679 60%, #009679 65%, rgba(0,150,121,0) 75%, rgba(0,150,121,0) 100%);
	transform: scale(0.5)
}

main.hp .ringWrapp.aktiven .val {
	opacity: 0
}

main.hp .ringWrapp.aktiven .val1 {
	animation: backRing 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

main.hp .ringWrapp.aktiven .val2 {
	animation: backRing 5s 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

main.hp .ringWrapp.aktiven .val3 {
	animation: backRing 5s 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

main.hp .ringWrapp.aktiven .val4 {
	animation: backRing 5s 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

main.hp .ringWrapp.aktiven .val5 {
	animation: backRing 5s 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
}

@media (min-width: 768px) {
	main.hp .ringWrapp .oglasiteSe {
		transform: translateX(140px)
	}
}

@media (max-height: 720px) {
	.ringWrapp {
		margin-top: 120px
	}
}

.stText {
	position: absolute;
	top: 8vh;
	opacity: 0;
	transition: opacity 800ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.stText.aktiven {
	opacity: 1
}

.posnZglas {
	display: none;
	position: absolute;
	bottom: 20vh;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	width: 100%
}

@media (min-width: 768px) {
	.posnZglas {
		bottom: 15vh
	}
}

@media (min-width: 992px) {
	.posnZglas {
		bottom: 5vh
	}
}

.sha {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: radial-gradient(60% 60%, rgba(13,13,13,0) 65%, #0D0D0D 81%)
}

.videoContainer {
	position: absolute;
	display: none;
	z-index: -1;
	transform: translateY(-8vh)
}

.videoContainer:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: radial-gradient(60% 60%, rgba(13,13,13,0) 65%, #0D0D0D 81%)
}

.videoContainer video {
	height: 104vh;
	height: 90vh;
	position: relative
}

.videoContainer #grVid {
	position: absolute !important;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1
}

@media (min-width: 768px) {
	.videoContainer video {
		height: 104vh;
		transform: translateY(0)
	}
}

#videoContr {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2
}

#videoContr svg {
	opacity: 0;
	transition: opacity 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75)
}

#videoContr.pause svg {
	opacity: 1
}

.odgovoriWrapp {
	position: absolute;
	bottom: 7vh;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	max-width: 750px;
	grid-gap: 3em;
	opacity: 0;
	visibility: hidden;
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.odgovoriWrapp.aktiven {
	visibility: visible;
	opacity: 1
}

.odgovoriWrapp .odg {
	padding: 10px;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #00A181;
	transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.odgovoriWrapp .odg:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	/*border: 1px solid #00A181;*/
	height: 3px;
	width: 100%;
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.odgovoriWrapp .odg.pasiven {
	opacity: 0;
	visibility: hidden
}

.odgovoriWrapp .odg:not(.pasiven):hover:after,.odgovoriWrapp .odg.aktiven:after {
	height: 100%
}

@media (max-width: 767px) {
	.odgovoriWrapp .odg.pasiven {
		opacity: 0.3;
		visibility: visible
	}
}

.vprasanjaWrapp {
	position: absolute;
	left: 0;
	width: 100%;
	top: 76%;
	padding: 0 10%;
	opacity: 0;
	visibility: hidden;
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.vprasanjaWrapp.aktiven {
	opacity: 1;
	visibility: visible
}

@media (min-width: 768px) {
	.odgovoriWrapp {
		bottom: 0;
		grid-gap: 4em;
		grid-template-columns: 1fr 1fr
	}

	.vprasanjaWrapp {
		padding: 0;
		top: 66%
	}
}

@media (min-width: 992px) {
	.vprasanjaWrapp {
		top: 76%
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.odgovoriWrapp {
		bottom: 9vh
	}
}

.fte {
	border-bottom: 1px solid #00A181;
	display: inline
}

.textBox1 {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 10px
}

.textBox2Wrapp {
	margin-top: 60px;
	padding-top: 50px
}

.textBox2 {
	position: absolute;
	right: 0;
	top: 0
}

@media (max-width: 991px) {
	.textBox01 {
		margin-left: 26%;
		margin-top: 4em
	}

	.textBox1,.textBox2 {
		max-width: 260px
	}

	.textBox2Wrapp img.center {
		margin: 0 !important
	}
}

@media (max-width: 767px) {
	.textBox01 {
		margin-left: 36%;
		margin-top: 4em
	}

	.textBox1,.textBox2 {
		max-width: 203px;
		padding-left: 0
	}

	.textBox1 {
		top: 0;
		transform: none
	}

	.textBox2Wrapp img.center {
		margin: 0 !important
	}

	.fotoTextWrapp {
		overflow: hidden
	}

	.fotoTextWrapp img {
		width: 200% !important;
		max-width: none;
		padding-top: 40px;
		left: 6%
	}

	.fotoTextWrapp .textBox2Wrapp img {
		float: right;
		width: 130% !important
	}
}

.crta {
	height: 150px;
	margin: 0 auto;
	width: 1px;
	margin-top: 24px;
	position: relative
}

.crta:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0;
	background: #46494A;
	transition: all 1000ms 500ms cubic-bezier(0.25, 0.25, 0.75, 0.75)
}

.crta.aktiven:before {
	height: 100%
}

.formW1,.gumbiWrapp {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 22px;
	margin-top: 56px
}

@media (min-width: 992px) {
	.formW1,.gumbiWrapp {
		grid-template-columns: 38% auto;
		grid-gap: 130px
	}
}

.formInputWrapp {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 22px
}

@media (min-width: 768px) {
	.formInputWrapp {
		grid-gap: 55px
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.formInputWrapp {
		max-width: 390px
	}
}

@media (max-width: 991px) {
	textarea {
		min-height: 260px
	}
}

@media (max-width: 767px) {
	textarea {
		min-height: 240px
	}

	footer .linkiWrapp {
		display: flex;
		align-items: center
	}
}

button,input,textarea {
	margin: 0;
	border: none;
	font: inherit;
	line-height: normal;
	background-color: transparent;
	border: 1px solid #46494A;
	padding: 16px !important;
	color: #fff;
	font-size: 18px
}

textarea:focus,input:focus {
	background-color: transparent;
	outline: 0
}

.tAreaWrapp {
	display: flex;
	flex-direction: column
}

.tAreaWrapp textarea {
	flex: 1
}

label {
	display: inline-block;
	margin-bottom: 10px
}

label[for="pogoji"] {
	white-space: nowrap;
	margin: 0
}

.gumbiWrapp>div {
	display: flex;
	justify-content: space-between
}

@media (min-width: 768px) {
	label {
		margin-bottom: 24px
	}
}

@media (min-width: 992px) {
	.gumbiWrapp>div {
		grid-column: 2
	}
}

@keyframes poslano {
	0% {
		background: #054
	}

	100% {
		background: #00A181
	}
}

input[type="submit"],.submit-button {
	background: #00A181;
	padding: 25px 38px !important;
	display: inline-block;
	cursor: pointer;
	width: 167px;
	border: none;
	-webkit-appearance: none
}

input.poslano[type="submit"] {
	animation: poslano 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

@media (max-width: 767px) {
	.gumbiWrapp>div {
		flex-direction: column
	}

	.gumbiWrapp>div .checkWrapp {
		order: 1;
		margin-top: 24px
	}
}

label.error {
	font-size: 12px;
	color: red;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -20px;
	margin: 0;
	font-weight: 600
}

#pogoji-error {
	text-align: left;
	bottom: -10px
}

@media (min-width: 768px) {
	#pogoji-error {
		bottom: 10px
	}
}

.checkWrapp {
	display: flex;
	align-items: center
}

input[type="checkbox"] {
	position: absolute;
	clip: rect(0, 0, 0, 0)
}

input[type="checkbox"]+label::before {
	content: '';
	display: inline-block;
	vertical-align: -5px;
	width: 20px;
	height: 20px;
	margin-right: 1em;
	background: transparent;
	text-indent: .15em;
	line-height: .65;
	border: 1px solid  #46494A;
	padding: 3px
}

input[type="checkbox"]:checked+label::before {
	content: '';
	background: #00A181;
	background-clip: content-box
}

input[type="checkbox"]:focus+label::before {
	box-shadow: 0 0 .1em .1em #58a
}

input[type="checkbox"]:disabled+label::before {
	background: transparent;
	box-shadow: none;
	color: #555;
	cursor: not-allowed
}

.timerWrapp {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: all 350ms cubic-bezier(0.25, 0.25, 0.75, 0.75)
}

.timerWrapp div {
	width: 100%;
	height: 5px;
	background: #00A181
}

.timerWrapp div:first-child {
	justify-self: end
}

.timerWrapp.on {
	opacity: 1;
	background: #004739
}

.timerWrapp.on div {
	transition: all 5000ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	width: 0
}

.timerWrapp.on.sec7 div {
	transition: all 7000ms cubic-bezier(0.25, 0.25, 0.75, 0.75)
}

@media (max-width: 767px) {
	.timerWrapp div {
		height: 2px
	}
}

@media (min-width: 768px) {
	.floatingPara {
		top: -6vh;
		position: relative;
		z-index: -1
	}
}

#muteButton {
	display: inline-block;
	padding: 6px 18px
}

@media (hover: none) and (pointer: coarse) {
	#muteButton {
		display: none !important
	}
}

body.on #muteButton {
	display: none
}

#muteButton span {
	width: 1px;
	height: 10px;
	background: #fff;
	display: inline-block;
	position: relative;
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

#muteButton span::before,#muteButton span::after {
	content: "";
	width: 1px;
	background: #fff;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

#muteButton span::before {
	height: 16px;
	left: 4px
}

#muteButton span::after {
	height: 22px;
	left: 8px
}

#muteButton.muted span {
	background: #46494A
}

#muteButton.muted span::before,#muteButton.muted span::after {
	height: 10px;
	background: #46494A
}

#kontakt {
	position: absolute;
	top: -200px
}

@keyframes short-press {
	0% {
		transform: scale(1)
	}

	50% {
		transform: scale(0.9)
	}

	100% {
		transform: scale(1)
	}
}

.hide {
	display: none
}

.submit-button {
	display: block;
	overflow: hidden;
	transition: all .3s ease;
	height: 72px !important;
	padding: 0 !important
}

.submit-button:hover,.submit-button:focus {
	box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}

.submit-button.animated {
	animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards
}

.submit-button>span {
	display: block;
	color: white;
	text-align: center;
	line-height: 72px
}

.submit-button>span.pre-state-msg {
	transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
	transition-delay: .75s
}

.submit-button.state-1 .pre-state-msg {
	margin-top: -72px
}

.submit-button.state-2 .pre-state-msg {
	margin-top: -144px
}

header .linkiWrapp a,footer .linkiWrapp a {
	transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1)
}

header.inPlay .linkiWrapp a,footer.inPlay .linkiWrapp a {
	opacity: 0.3
}

#grain {
	position: relative;
	z-index: 9999;
	pointer-events: none
}

#grain:after {
	content: "";
	background: url(../images/noisy-texture-100x100-o13-d11-c-050002-t0_V2-copy.png);
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute
}

.radGrad {
	position: absolute;
	height: 35vw;
	top: 0;
	width: 100%;
	overflow: hidden;
	opacity: 0.10;
	z-index: -1
}

.radGrad:after {
	content: "";
	position: absolute;
	width: 120vw;
	background: radial-gradient(ellipse at center, #00a181 0%, rgba(0,161,129,0) 70%);
	height: 120vw;
	bottom: 0;
	left: -10vw
}

.smPageWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px auto
}

.smPageWrap span {
	font-weight: bold;
	margin-right: 15px
}

.smPageWrap a {
	padding: 10px
}

.langFl {
	position: fixed;
	background: rgba(0,0,0,0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999999;
	opacity: 0;
	pointer-events: none;
	transition: all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.langFl.aktiven {
	pointer-events: auto;
	opacity: 1
}

.langFl>div {
	max-width: 460px
}

.langFl a {
	display: block
}

.langFl #yes {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 0;
	max-width: 200px;
	margin: 20px auto 0;
	font-weight: bold;
	position: relative
}

.langFl #yes svg {
	margin-right: 20px
}

.langFl #yes::after {
	content: "";
	position: absolute;
	border: 1px solid #00A181;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.langFl #yes:hover::after {
	left: -5%;
	width: 110%
}

.langFl #no {
	display: block;
	padding: 25px 10px;
	max-width: 200px;
	margin: 40px auto 0
}

.kukiPasicaWrapp {
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999
}

.kukiPasicaWrapp .kukiPasica {
	max-width: 430px;
	padding: 60px 30px;
	background: #1A1A1A;
	line-height: 1.6em
}

.kukiPasicaWrapp .block {
	display: block
}

.kukiPasicaWrapp .oPisk,.kukiPasicaWrapp #dskN {
	text-decoration: underline
}

.kukiPasicaWrapp #dskOk {
	font-weight: bold;
	background: #00A181;
	max-width: 200px;
	margin: 2vh auto;
	padding: 23px
}

/*.odgovoriWrapp2{
	padding:10px;position:relative;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;transition:all 400ms cubic-bezier(0.455, 0.03, 0.515, 0.955)
}*/